# Node
node_modules/
npm-debug.log*

# Env files
.env
.env.*

# Build outputs
dist/
build/
out/

# Angular
frontend/.angular/
frontend/dist/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.local